<launch>

    <node pkg = 'move_base' type = 'move_base' respawn = 'false' name='move_base' output = 'screen'>
        <rosparam file = '$(find rmit_panther_coordinator/config/costmap_common_params.yaml)' command = 'load' ns = 'global_map'>
        <rosparam file = '$(find rmit_panther_coordinator/config/costmap_common_params.yaml)' command = 'load' ns = 'local_map'>
        <rosparam file = '$(find rmit_panther_coordinator/config/local_costmao_params.yaml)' command = 'load' ns = 'global_map'>
        <rosparam file = '$(find rmit_panther_coordinator/config/global_costmao_params.yaml)' command = 'load' ns = 'global_map'>
        <rosparam file = '$(find rmit_panther_coordinator/config/trajectory_planner.yaml)' command = 'load' ns = 'global_map'>
    </node>


</launch>